@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
:root {
  --clr-oxford-blue: hsla(212, 100%, 17%, 1);
  --clr-oxford-blue-3: hsla(219, 100%, 10%, 1);
  --clr-delft-blue: hsla(220, 29%, 28%, 1);
  --clr-slate-gray: hsla(222, 11%, 54%, 1);
  --clr-cherry-blossom-pink: hsla(345, 100%, 85%, 1);
  --clr-bakermiller-pink: hsla(345, 100%, 78%, 1);
  --clr-russian-violet: hsla(255, 45%, 18%, 1);
  --clr-lilac: hsla(292, 28%, 68%, 1);
  --clr-cornsilk: hsla(52, 94%, 94%, 1);
  --clr-earth-yellow: hsla(32, 65%, 62%, 1);
  --clr-tigers-eye: hsla(28, 67%, 44%, 1);
}
body {
  font-family: "Roboto", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-container {
  font-size: 18px;
}
.title {
  padding: 0.5rem 1.5rem;
  padding-right: 8.5rem;
  border: 1px solid dodgerblue;
  font-weight: 500;
}
.add {
  padding: 0.5rem 1.5rem;
  margin-left: -7px;
  border: 1px solid red;
  background-color: #fff;
  font-weight: 700;
}
.add:hover {
  background-color: var(--clr-bakermiller-pink);
  border: 1px solid var(--clr-bakermiller-pink);
  cursor: pointer;
}
.hero-container {
  text-align: center;
}
.tasks {
  padding: 0.5rem 9rem;
  margin-top: 1rem;
  background-color: var(--clr-slate-gray);
  cursor: pointer;
}
.completed-tasks {
  padding: 0.5rem 9rem;
  margin-top: 0.5rem;
  background-color: var(--clr-slate-gray);
  cursor: pointer;
}
.db-container {
  margin-top: 2rem;
  background-color: var(--clr-cornsilk);
  color: var(--clr-tigers-eye);
  padding: 1rem 12rem;
  border: 1px solid var(--clr-tigers-eye);
}
.line-one {
  font-size: 18px;
  font-weight: 700;
}
.line-two {
  font-size: 16px;
  font-weight: 700;
}
.db-one {
  /* visibility: hidden; */
}
.db-two {
  display: flex;
  justify-content: space-between;
  align-items:center;
  font-size: 18px;
  /* cursor: pointer; */
  /* padding: 0.5rem 4rem; */
  background-color: var(--clr-cornsilk);
  /* border: 1px solid var(--clr-tigers-eye); */
  color: var(--clr-tigers-eye); 
}
.btn-edit{
  background-color: var(--clr-cornsilk);
  border: none;
  cursor: pointer;
  padding-right: 10px;
}
.btn-delete{
  background-color: var(--clr-cornsilk);
  border: none;
  cursor: pointer;
}
.close{
  visibility: hidden;
}
.open{
  display: block;
}

